//output:../target/index.html
- var counts = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
- var sides = [4, 6, 8, 12, 20, 100]

doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title umm-gen-divinity-sample
    link(rel="stylesheet" href="./css/pure-min.css")
    //link(rel="stylesheet" href="./css/handsontable.full.css")
    link(rel="stylesheet" href="./css/custom.css")
  body
    script(src="./libs/lodash.min.js")
    script(src="./libs/jquery-2.2.4.min.js")
    //script(src="./libs/handsontable.full.js")
    script(src="./data.js")
    script(src="./script.js")
    script(src="./addons.js")
    #grid-wrapper.pure-g
      #left-reserve.pure-u-1-8
      #main.pure-u-3-4
        h1 Test Page
        p Next generation futures.
        p#debug-area
          textarea#debug-ta(rows="16" cols='80')
          button#clear-debug-ta.button-sm.pure-button CLEAR
        p#content-control
          //- button#pushme.button-sm.button-success.pure-button PUSH
          button#toggle-domain-refs.button-sm.pure-button SHOW/HIDE DOMAINS
          button#generate-pantheon.button-sm.pure-button GET PANTHEON
          input#toggle-json-utils(type="checkbox")
          span(style="margin: 0.2em;") JSON utilities
        #sandwitch
        #dice-function
          p
            select#dice-counts
              for i in counts
                option(value=i) #{i}
            span(style="margin: 1em;") D
            select#dice-sides
              for i in sides
                option(value=i) #{i}
            button#roll-button.button-sm.pure-button GO!
            input#roll-result(type="text" readonly)
        #json-utils(style="margin-bottom: 3.2em; display: none;")
          textarea#json-formatter-ta(rows="8" cols='80')
          button#json-fomat.button-sm.pure-button FORMAT TSV
        #auto-generate
          table#generated-data.table-ja.pure-table
          #handson-sample
        table#divinity-ref-data.table-ja.pure-table
    script.
      $( function() {
        var page = new Page();
        page.init();
      });
